{% extends 'intro/layout.html' %}

{% block inner_content %}

<h2 class="ml-2 fit-size">You are playing with:</h2>

{% for player_name in players %}
  {% if player_name != active_player %}
    <p class="ml-2 font-lg">{{ player_name }}</p>
  {% endif %}
{% endfor %}

<br>
<h4 class="ml-2 font-lg">Quick! Be the first one to draw cards by saying "FakaU"!</h4>
<br>
<button class="ml-2 btn btn-md btn-primary" onclick="buttonClicked('POST', 'assign_turn', 'player={{ active_player }}&match={{ match }}');">FakaU!</button>

{% endblock %}
