{% extends 'intro/layout.html' %}

{% block inner_content %}

<div id="name">
    <p class="ml-2 font-lg display-inline">Name: </p>
    <input name="player" class="form-control-inline input-narrow" type="text">
    {% if invalid_name %}
      <p class="input-invalid"> Invalid player name</p>
    {% endif %}
</div>

<br><br>

<div id="join">
    <p class="ml-2 font-lg display-inline">  Join a match: </p>
    {% if available_matches|length != 0 %}
        <select name="existing_match_id" class="form-control-inline font-lg input-narrow">
            {% for match_id in available_matches %}
                <option>{{ match_id }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-md btn-success" onclick="buttonClicked('POST','fakau', 'action=join' + '&' + createInputDataString())">Join</button>

    {% else %}
        <input disabled="disabled" class="form-control-inline" placeholder="No available matches">
        <button class="btn btn-secondary btn-md" disabled="disabled">Join</button>
    {% endif %}
</div>

<br><br>

<div id="host">
    <p class="ml-2 font-lg display-inline">  Host a match: </p>
    <select name="players" class="form-control-inline">
        <option value="1">1 player</option>
        {% for num in range(2, 6) %}
            <option value="{{ num }}">{{ num }} players</option>
        {% endfor %}
    </select>
    <br>
    <input name="new_match_id" class="ml-1 form-control-inline input-narrow" type="text" placeholder="Choose match name!">
    <button class="btn btn-md btn-primary" onclick="buttonClicked('POST','fakau', 'action=host' + '&' + createInputDataString())">Host</button>
    {% if invalid_match_id %}
        <p class="input-invalid"> Invalid match name!</p><br>
    {% endif %}
</div>

{% endblock %}
