{% extends 'phase_b/layout.html' %}

{% block inner_content %}

{% for player_name in players %}
    <p class="ml-2 display-inline font-lg">{{ player_name }}:</p>
    {% if active_player ~ '_' ~ player_name in credit %}
        <p class="display-inline font-lg"> (You can declare up to {{ credit[active_player + '_' + player_name] }} cards)</p>
    {% endif %}
    <br>
    <p class="ml-2 display-inline">
        {% for index in range(players[player_name].face_down_cards|length) %}
            {% set image_src = players[player_name].face_down_cards[index].create_image_path() %}
            {% if active_player ~ '_' ~ player_name in credit %}
              <img id="{{ player_name }}_{{ index }}" class="card isClickable display-inline" onclick="cardClicked('{{ player_name }}_{{ index }}', {{ credit[active_player + '_' + player_name] }})" src="{{ image_src }}">
            {% else %}
              <img class="card display-inline" src="{{ image_src }}">
            {% endif %}
        {% endfor %}
    </p>
    <br><br>
{% endfor %}

<button class="ml-2 btn btn-md btn-warning" onclick="revealCards({{ players.keys()|list }}, '{{ active_player }}', '{{ match }}')">Reveal Cards!</button>

{% endblock %}