{% extends 'phase_b/layout.html' %}

{% block inner_content %}
        <br>
        <h5 class="ml-2 display-inline font-lg">{{ active_player }}, How many cards would you like to lay down?</h5>
        <select name="num_of_cards" class="form-control-inline font-lg">
            {% set range_max_array = [players[active_player].deck|length + 1, 6]|sort %}
            {% set range_min_array = [players[active_player].deck|length, 2]|sort %}
            {% for num in range(range_min_array[0], range_max_array[0]) %}
                <option value="{{ num }}">{{ num }}</option>
            {% endfor %}
        </select>

        <br><br>
        <button class="ml-2 btn btn-md btn-warning" onclick="buttonClicked('POST','lay_down_cards?player={{ active_player }}&match={{ match }}', createInputDataString());">Lay down</button>
{% endblock %}