{% extends 'phase_b/layout.html' %}

{% block inner_content %}

{% for player_name in players %}
    <p class="ml-2 font-lg display-inline">{{ player_name }} </p>
        {% set player_sum = player_sums[player_name] %}
        {% if player_sum > 20 %}
            <p style="font-size: 150%; display: inline; color:red; font-weight: bold"> - BUSTED with {{ player_sum }}</p>
        {% else %}
            <p style="font-size: 150%; display: inline; color:green; font-weight: bold"> - SAFE with {{ player_sum }}</p>
        {% endif %}
    <br>
    <p class="ml-2 display-inline">
        {% for index in range(players[player_name].face_down_cards|length) %}
            {% set image_src = players[player_name].face_down_cards[index].create_image_path() %}

            {% if index|string in declared_indexes[player_name] %}
                <img class="card isDeclared display-inline" src="{{ image_src }}">
            {% elif "JC.png" in image_src %}
                <img class="card isMoti display-inline" src="{{ image_src }}">
            {% else %}
                <img class="card display-inline" src="{{ image_src }}">
            {% endif %}

        {% endfor %}
    </p>
    <br><br>
{% endfor %}

<button class="ml-2 btn btn-mf btn-primary" onclick="if('{{ alert_message }}' != 'None') alert('{{ alert_message }}'); buttonClicked('GET','lay_down_cards?player={{ active_player }}&match={{ match }}');">OK</button>
{% endblock %}