body::after {
  content: "";
  background-image: url('/static/img/tosh.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.fit-size {
  max-width: 100%;
}

.font-bold{
  font-weight: bold;
}

.font-lg {
  font-size: 115%;
}

.input-narrow {
  width: 40%;
}

.input-invalid {
  color: red;
  display: inline;
  font-size: 100%;
}

.display-inline {
  display: inline;
}

.card-deck {
  width: 15%;
  height: auto;
  border-radius: 10px;
  box-shadow: 9px 9px 3px grey;
}

.card {
  width: 10%;
  height: auto;
  padding: 2px;
  background-color: whitesmoke;
  border-radius: 10px
}

.enlarged {
  width: 15%;
}

.isDeclared {
  background-color: red;
}

.isMoti {
  background-color: green;
}

.isClickable {
}

@media (hover: hover) {
  .isClickable:hover {
    cursor: pointer;
    background-color: red;
  }
}
