{% extends 'phase_a/layout.html' %}

{% block inner_content %}
    <div>
        <img class="ml-2 card-deck" src="/static/img/cards/gray_back.png">
    </div>
    <br><br>
    <button class="ml-2 btn btn-md btn-primary" onclick="buttonClicked('GET', 'make_statement?player={{ active_player }}&match={{ match }}')">Draw cards</button>
{% endblock %}
