{% extends 'layout.html' %}

{% block phase_content %}

  <h2 class="ml-2">Cards left in deck: {{ deck|length }}</h2>
  <div class="ml-2">
  {% for player_type in players %}
    <pre class="display-inline font-lg">{{ players[player_type].name }}: {{ players[player_type].deck|length }} cards   </pre>
  {% endfor %}
  </div>
  <br>
  {% for card_image_path in cards %}
    {% if "JC.png" in card_image_path %}
      <img class="ml-2 card enlarged isMoti display-inline" src="{{ card_image_path }}">
    {% else %}
      <img class="ml-2 card enlarged display-inline" src="{{ card_image_path }}">
    {% endif %}
  {% endfor %}
  <br><br>
  {% block inner_content %}{% endblock %}

{% endblock %}