{% extends 'phase_a/layout.html' %}

{% block inner_content %}

<div class="font-lg fit-size">
    <h4 class="ml-2">{{ player_making_statement }} says:</h4>
    <p class="ml-2">"{{ statement }}."</p>
</div>

<button class="ml-2 btn btn-md btn-success" onclick="buttonClicked('GET', 'make_response?player={{ active_player }}&match={{ match }}&response=1', '');">True</button>
<button class="btn btn-md btn-danger" onclick="buttonClicked('GET', 'make_response?player={{ active_player }}&match={{ match }}&response=0', '');">False</button>

{% endblock %}