{% extends 'phase_a/layout.html' %}

{% block inner_content %}
<br><br>
<h3 class="ml-2 font-lg">Say something about your cards:</h3>
{% if options != None%}
    {% for i in ["1", "2"] %}
        <div id="statement{{ i }}" class="fit-size font-lg">
            <p class="ml-2 display-inline">
                Card {{ i }} is
                <select name="card{{ i }}" id="option{{ i }}" onchange="addHigherLowerValue({{ i }});">
                    {% for option in options %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </p>
            <p id="numberField{{ i }}" style="display: none">
                than
                    <select name="value{{ i }}">
                        {% for num in range(1,14) %}
                            <option value="{{ num }}">{{ num }}</option>
                        {% endfor %}
                    </select>
            </p>
        </div>
    {% endfor %}
    <br>
    <button class="ml-2 btn btn-md btn-primary" onclick="buttonClicked('POST','make_statement?player={{ active_player }}&match={{ match }}', createInputDataString());">Say statement</button>
{% endif %}

<br><br>
{% if players[active_player].holding_jc_count < 2 %}
    <button class="ml-2 btn btn-md btn-info" onclick="buttonClicked('POST','make_statement?player={{ active_player }}&match={{ match }}','') ;">I am holding the {{ jc_card }}</button>
{% else %}
    <button class="ml-2 btn btn-md btn-secondary" disabled>I am holding the {{ jc_card }}</button>
{% endif %}
{% endblock %}