{% extends 'phase_a/layout.html' %}

{% block inner_content %}
<div class="ml-2 fit-size">
    <h4>{{ player_making_statement }}'s statement was:</h4>
    <p class="font-lg">"{{ statement }}." ({{ statement_bool }})</p>
</div>
<br>
<div class="ml-2 fit-size">
    {% for player_name in responses %}
      <pre class="display-inline font-lg">{{ player_name }} says '{{ responses[player_name] }}'    </pre>
    {% endfor %}
</div>
<br><br>

<div class="ml-2 fit-size">
    {% for player_name in results %}
        <pre class="display-inline font-lg font-bold">{{ player_name }}: +{{ results[player_name] }} cards    </pre>
    {% endfor %}
</div>

{% if deck|length == 0 %}
    {% set next_location = 'lay_down_cards' %}
{% else %}
    {% set next_location = 'new_round' %}
{% endif %}

<button class="ml-2 btn btn-md btn-primary" onclick="buttonClicked('GET', '{{ next_location }}?player={{ active_player }}&match={{ match }}', '') ;">OK</button>

{% endblock %}