<!doctype html>
<html>

<head>
  <title>Game Over</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/fakau_style.css">
</head>

<body>
{% for winner in winners %}
  <h1 class="ml-2">{{ winner }} WINS!</h1>
{% endfor %}

  <h2 class="ml-2">{{ message }}</h2>
  <br>

{% if cards != null %}
  <h2 class="ml-2">{{ cards_title }}:</h2><br>
  {% for card_image_path in cards %}
    {% if "JC.png" in card_image_path %}
      <img class="card isMoti display-inline" src="{{ card_image_path }}">
    {% else %}
      <img class="card display-inline" src="{{ card_image_path }}">
    {% endif %}
  {% endfor %}
{% endif %}
  <br><br>
  <div>
    <button class="btn btn-md btn-success display-inline" onclick="buttonClicked('GET','rematch?player={{ active_player }}&match={{ match }}');">Keep playing</button>
    <button class="btn btn-md btn-danger display-inline" onclick="alert('{{ total_score_message }}'); buttonClicked('GET','end_match?match={{ match }}');">End match</button>
    <br>
    <p id="waiting" style="display: none">Waiting for players......</p>
  </div>
</body>

</html>
