<!DOCTYPE html>
<html lang="en">
    <div id="dynamic_div">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="static/css/fakau_style.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <script src="static/js/flow.js"></script>
            <script src="static/js/phase_a.js"></script>
            <script src="static/js/phase_b.js"></script>
            <title>{{ title }}</title>
        </head>

        <body>
            {% block phase_content %}{% endblock %}<br>
            <div id="waiting" style="display: none; font-size=90%">
                <div class="spinner-border text-secondary" role="status">
                    <span class="ml-2 sr-only">Loading...</span>
                </div>
                <p class="ml-1 display-inline">Waiting for players....</p>
            </div>
        </body>
    </div>
</html>